<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457160284239-70jee4dd5o3egono7b1o0qatr8m23h9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457160284239-70jee4dd5o3egono7b1o0qatr8m23h9o</string>
	<key>API_KEY</key>
	<string>AIzaSyCcv_Wq_Q06wCF64_xG71jo8c-uiZXp_y0</string>
	<key>GCM_SENDER_ID</key>
	<string>457160284239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appsoluteNews</string>
	<key>PROJECT_ID</key>
	<string>appsolutenews-65432</string>
	<key>STORAGE_BUCKET</key>
	<string>appsolutenews-65432.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457160284239:ios:e9496e6e17d6eba4cc323a</string>
</dict>
</plist>